.part_img {
	position:relative;
	bottom: 18px;
	width: 156px;
	height: 242px;
	opacity: 0.60;
	margin:auto;
	display: block;
}

.part_check {
	position:relative;
	left: 1px;
	margin: 0px;
	border: 0px;
	top: 242px;
	width: 156px;
}

.part_label {
	width: 156px;
	text-align: center;
	font-family: 'Arial Narrow', Arial, sans-serif;
}

input.part_check:checked ~ img.part_img {
	opacity: 1;
}

div.partCheckBox {
	display: inline-block;
	margin: auto;
	text-align: center;
	width: 156px;
	height: 285px;
}

.part_desc {
	display: block;
	position: relative;
	left: 10px;
	bottom: 95px;
	float: left;
	z-index: 3;
	width: 0px;
	height: 1.3em;
	border-radius: 4px;
	background-color: rgba(255,255,255,0.85);
	color:transparent;
	box-shadow: 0 10px 5px 0 rgba(0,0,0,0.2);
	transition: all .25s ease-in 2s;
	overflow: hidden;
	word-break: break-all;
	font-family: 'Arial Narrow', Arial, sans-serif;
	transition: all 0.25s;
}

.partCheckBox:hover .part_desc {
	transition: all .25s ease-in 1s;
	color: black;
	width:136px;
}
@media (max-width:988px) {
	div.partCheckBox {
		border: 1px solid #ccc;
		box-shadow:0 10px 5px 0 rgba(0,0,0,0.2), 0 6px 6px 0 rgba(0,0,0,0.19);
		margin-top: 4px;
	}
}